
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="btn">展示</div>
<h1 class="show" style="display: none">内   容</h1>

</body>
<script type="text/javascript">
    //获取元素
    var btn = document.getElementsByClassName('btn')[1];
    var showDiv = document.getElementsByClassName('show')[1];

    //添加点击事件


    function out(){
        btn.onclick = function(){

            btn.innerHTML = "收起";
            showDiv.style.display = 'block';



            btn.onclick = function(){
                btn.innerHTML = "展示";
                showDiv.style.display = 'none';

                out();


            }
        }
    }

    out();



</script>


</html>


<!--<li class="comment even thread-even depth-1" id="comment-22371">-->
<!--    <div id="div-comment-22371" class="comment-body">-->
<!--        @if(empty($comment[0]->com_id))-->
<!--        <span>暂时没有评论</span>-->
<!--        @else-->
<!--        @foreach($comment as $val)-->
<!--        <img src="{{$val->user_portrait}}" class="avatar" width="54" height="54" />-->
<!--        <span class="floor"> #47 </span>-->
<!--        <div class="comment-main">-->
<!--            <p>{{$val->com_content}}</p>-->
<!--            <div class="comment-author">-->
<!--                <div class="comment-info">-->
<!--                    <span class="comment_author_link">{{$val->user_name}}</span>-->
<!--                    <span class="comment_author_vip tooltip-trigger" title="作者"><span class="vip vip-author">作 者</span></span>-->
<!--                    <span class="datetime"> 评论日期：{{$val->com_create}} </span>-->
<!--                    @if(empty($user->user_name))-->
<!--                    <span class="reply"> <a rel="nofollow" class="comment-reply-login user-login" href="javascript:">登录以回复</a> </span>-->
<!--                    @else-->
<!--                    <span>回复</span>-->
<!--                    @endif-->

<!--                    <div name="btn">回复：展开</div>-->
<!--                    @foreach($reply as $v)-->
<!--                    @if($v->com_superior == $val->com_id)-->
<!--                    <ul class="children" name="show" style="display: none">-->
<!--                        <li class="comment byuser comment-author-tyuan629 bypostauthor odd alt depth-2" id="comment-22372">-->
<!--                            <div id="div-comment-22372" class="comment-body">-->
<!--                                <img src="{{$v->user_portrait}}?s=54&amp;d=wavatar&amp;r=g" class="avatar" width="54" height="54" />-->
<!--                                <span class="floor"> </span>-->
<!--                                <div class="comment-main">-->
<!--                                    <p><a class="at_parent_comment_author" >回复：{{$val->user_name}}</a>，{{$v->com_content}}</p>-->
<!--                                    <div class="comment-author">-->
<!--                                        <div class="comment-info">-->
<!--                                            <span class="comment_author_link"><a href="" class="name">{{$v->user_name}}</a></span>-->
<!--                                            <span class="comment_author_vip tooltip-trigger" title="评论达人 LV.1"><span class="vip vip1">评论达人 LV.1</span></span>-->
<!--                                            <span class="datetime"> 回复日期：{{$v->com_create}} </span>-->
<!--                                            @if(empty($user->user_name))-->
<!--                                            <span class="reply"> <a rel="nofollow" class="comment-reply-login user-login" href="javascript:">登录以回复</a> </span>-->
<!--                                            @else-->
<!--                                            <span>回复</span>-->
<!--                                            @endif-->
<!--                                            &lt;!&ndash; edit_comment_link(__('编辑','tinection'));&ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="clear"></div>-->
<!--                                </div>-->
<!--                                @foreach($reply as $vl)-->
<!--                                @if($vl->com_superior == $v->com_id)-->
<!--                                <div id="div-comment-22372" class="comment-body">-->
<!--                                    <img src="{{$vl->user_portrait}}?s=54&amp;d=wavatar&amp;r=g" class="avatar" width="54" height="54" />-->
<!--                                    <span class="floor"> </span>-->
<!--                                    <div class="comment-main">-->
<!--                                        <p><a class="at_parent_comment_author" >回复：{{$v->user_name}}</a>，{{$vl->com_content}}</p>-->
<!--                                        <div class="comment-author">-->
<!--                                            <div class="comment-info">-->
<!--                                                <span class="comment_author_link"><a href="" class="name">{{$vl->user_name}}</a></span>-->
<!--                                                <span class="comment_author_vip tooltip-trigger" title="评论达人 LV.1"><span class="vip vip1">评论达人 LV.1</span></span>-->
<!--                                                <span class="datetime"> 回复日期：{{$vl->com_create}} </span>-->
<!--                                                @if(empty($user->user_name))-->
<!--                                                <span class="reply"> <a rel="nofollow" class="comment-reply-login user-login" href="javascript:">登录以回复</a> </span>-->
<!--                                                @else-->
<!--                                                <span>回复</span>-->
<!--                                                @endif-->
<!--                                                &lt;!&ndash; edit_comment_link(__('编辑','tinection'));&ndash;&gt;-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="clear"></div>-->
<!--                                    </div>-->
<!--                                    @else-->
<!--                                    @endif-->
<!--                                    @endforeach-->
<!--                                </div>-->
<!--                        </li>-->
<!--                    </ul >-->
<!--                    @else-->
<!--                    <span name="show" style="display: none">暂时没有回复</span>-->
<!--                    @endif-->
<!--                    @endforeach-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="clear"></div>-->
<!--        </div>-->
<!--        @endforeach-->
<!--        @endif-->
<!--    </div>-->
<!--</li>-->
